<link href="../../assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />
<link href="../../assets/css/demo.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#0">Witter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" [ngSwitch]="isLogin">
        <li *ngSwitchCase="true" class="active">
          <a href="#pablo" class="nav-link">
            <i class="material-icons">account_circle</i>Boss_pi
          </a>
        </li>
        <li *ngSwitchCase="false" class="active">
          <a href="#pablo" class="nav-link">登录</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-login></app-login>
