<nav class="navbar navbar-expand-lg bg-info">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand " href="/panel"><i nz-icon nzType="twitter" nzTheme="outline"></i>Witter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" [ngSwitch]="isLogin">
        <li *ngSwitchCase="true" class="active">
          <a  nzType="primary"
              nz-popover
              nzPopoverTitle="记不住密码就别点了"
              [(nzVisible)]="visible"
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentTemplate" class="nav-link">
            <nz-avatar nzIcon="user" [nzSrc]="img"></nz-avatar>Boss_pi
          </a>
          <ng-template #contentTemplate>
            <a (click)="logout();">注销</a>
          </ng-template>
        </li>
        <li *ngSwitchCase="false" class="active">
          <app-login #log></app-login>
        </li>
      </ul>
    </div>
  </div>
</nav>

