<div nz-row nzAlign="middle" nzJustify="center" nzType="flex">

<textarea
  [(ngModel)]="in"
  [nzAutosize]="{ minRows: 30, maxRows: 50 }" class="card"
  nz-col
  nz-input
  nzSpan="8"
  placeholder="输入待格式化json"
></textarea>


  <button (click)="change()" class="change" nz-button nz-col nzSpan="2" nzType="danger">格式化<i nz-icon
                                                                                              nzTheme="outline"
                                                                                              nzType="arrow-right"></i>
  </button>
  <textarea
    [ngStyle]="{color:error?'red':''}"
    [nzAutosize]="{ minRows: 30, maxRows: 50 }" class="card"
    nz-col
    nz-input
    nzSpan="8"
    readonly
  >{{result}}
  </textarea>
</div>
