

<nz-modal  [(nzVisible)]="isVisible" [nzTitle]="userName+'的推文'"  (nzOnCancel)="handleCancel()">
  <div *ngIf="erro" class="alert alert-danger">
    <div class="container">
      <div class="alert-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <button (click)="erro=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="material-icons">clear</i></span>
      </button>
      <b>Error Alert:</b> {{erro}}
    </div>
  </div>
  <p><nz-avatar nzIcon="user" [nzSrc]="img"></nz-avatar>&nbsp;:&nbsp;</p>
  <span [innerHTML]="text"></span>
  <p class="time">{{createTime | date:'yyyy年:MM月:dd日'}}</p>
  <nz-divider *ngIf="isVisible" nzText="文明评论区"></nz-divider>

     <div  *ngFor="let item of coms">
       <p><nz-avatar nzIcon="user" [nzSrc]="item.userId== 0?img0:img1"></nz-avatar> {{item.userId==0?'痞老板':'水友'}}</p>
       <p>{{item.text}}</p>
       <button class="btn btn-rose btn-round" (click)="deleteCom(item.id)" *ngIf="dele">删除</button><li class="time">{{item.createTime | date:'yyyy年:MM月:dd日'}}</li>
       <nz-divider></nz-divider>
     </div>
  <textarea placeholder="口吐芬芳" rows="4" nz-input [(ngModel)]="inputValue"></textarea>

  <div *nzModalFooter>
    <p class="flex">
      <button class="btn btn-primary btn-round  btn-sm" (click)="addCom()"><i class="material-icons">chat</i>发表</button>
      <button class="btn btn-info  btn-round  btn-sm"   (click)="handleCancel()">关闭</button>
    </p>

  </div>
</nz-modal>
<button  (click)="showModal()" class="btn btn-primary btn-round">推文详情
</button>

