<cdk-virtual-scroll-viewport [ngStyle]="option.style" id="scr"   itemSize="option.itemHeight" minBufferPx="200" maxBufferPx="400">
  <nz-list [nzItemLayout]="'vertical'">
    <div *ngIf="item$| async let items">
    <nz-list-item *cdkVirtualFor="let item of items" [nzContent]="textRef" [nzActions]="[power,detail,delete]">
      <ng-template #power>
        <i nz-icon nzType="eye"  [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i> {{item.browse}}
      </ng-template>
      <ng-template #detail>
        <button nz-button nzShape="round" nzType="detail-btn" (click)="detailShow(item)">文章详情</button>
      </ng-template>
      <ng-template #delete>
        <button *ngIf="isPi"
                nz-button nzType="danger"
                nz-popconfirm
                nzPopconfirmTitle="确定要删除吗"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteBlog(item.blogId)"
                nzShape="round">删除</button>
      </ng-template>


      <nz-list-item-meta
        [nzTitle]="item.title"
        [nzDescription]="tags">
      </nz-list-item-meta>
      <ng-template #textRef>
        <span class="text" [innerHTML]="item.description"></span>
      </ng-template>
      <ng-template #tags><nz-tag [nzColor]="tagColor.get(tagIndex)" *ngFor="let tag of item.tags,let tagIndex = index">{{tag.name}}</nz-tag></ng-template>
    </nz-list-item>
      <nz-result  *ngIf="items.length==0" nzStatus="info" nzTitle="我莫得感情，也莫得数据"></nz-result>
    </div>
  </nz-list>
</cdk-virtual-scroll-viewport>
