<div>
  <p>标签</p>
  <nz-tabset class="content" nzTabPosition="right" [nzType]="'line'" [(nzSelectedIndex)]="index">
    <nz-tab  (nzClick)="outTag('all')" nzTitle="all"></nz-tab>
    <nz-tab  (nzClick)="outTag(tag.tagId)" *ngFor="let tag of tags" [nzTitle]="tagLabel">
      <ng-template #tagLabel>
        <span>{{tag.name}} <button *ngIf="!isPi" nzSize="small"
                                   nzType="primary"
                                   nz-button nzShape="circle">{{tag.tagCount}}</button>
        <button *ngIf="isPi" nzSize="small"
                nzType="danger"
                nz-popconfirm
                [nzPopconfirmTrigger]="'hover'"
                nzPopconfirmTitle="确定删除此标签吗?"
                (nzOnConfirm)="deleteTag(tag.tagId)"
                nz-button nzShape="circle">{{tag.tagCount}}</button>
        </span>
      </ng-template>
    </nz-tab>
  </nz-tabset>

<!--  <button  nz-button nzSize="large" nzType="danger" (click)="outTag('all')">all</button>-->
<!--  <button nz-button nz-popover-->
<!--          [nzPopoverContent]="isPi?deleteTemplate:null"-->
<!--          nzPopoverPlacement="right"-->
<!--          nzSize="small" nzType="primary" (click)="outTag(tag.tagId)" *ngFor="let tag of tags">-->
<!--    {{tag.name}} {{tag.tagCount}}-->
<!--    <ng-template  #deleteTemplate>-->
<!--      <a (click)="deleteTag(tag.tagId)">删除标签</a>-->
<!--    </ng-template>-->
<!--  </button>-->


</div>
