<a (click)="showModal()"> <i nz-icon nzType="user" nzTheme="outline"></i></a>
<nz-modal [nzWidth]="400" [(nzVisible)]="isVisible" nzTitle="管理员登陆"  (nzOnCancel)="handleCancel()">
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <div *ngIf="erro" class="alert alert-danger">
      <div class="container">
        <div class="alert-icon">
          <i nz-icon nzType="bug" nzTheme="outline"></i>
        </div>
        <button (click)="erro=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i nz-icon nzType="close" nzTheme="outline"></i></span>
        </button>
              {{msg}}
      </div>
    </div>

    <fieldset ngModelGroup="login">
      <div class="input-group col-lg-10 col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
           <i nz-icon nzType="book" nzTheme="outline"></i>
          </span>
        </div>
        <input class="form-control"
               type="text"
               name="username"
               [(ngModel)]="username"
               #usernameRef="ngModel"
               required
               minlength="3"
        />
      </div>
      <div class="input-group col-lg-10 col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i nz-icon nzType="lock" nzTheme="outline"></i>
          </span>
        </div>
        <input class="form-control"
               type="password"
               name="password"
               [(ngModel)]="password"
               #passwordRef="ngModel"
               required
        />
      </div>
        <div style="text-align:center;">
        <button class="btn btn-danger " type="submit" >登录</button>
      </div>

    </fieldset>
  </form>

  <div *nzModalFooter>
    <!--<button  class="btn btn-info" (click)="handleCancel()">关闭</button>-->
  </div>
</nz-modal>

