<a (click)="showModal()"> <i nz-icon nzTheme="outline" nzType="user"></i></a>
<nz-modal (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisible" [nzWidth]="400" nzTitle="管理员登陆">
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <div *ngIf="erro" class="alert alert-danger">
      <div class="container">
        <div class="alert-icon">
          <i nz-icon nzTheme="outline" nzType="bug"></i>
        </div>
        <button (click)="erro=false" aria-label="Close" class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true"><i nz-icon nzTheme="outline" nzType="close"></i></span>
        </button>
        {{msg}}
      </div>
    </div>

    <fieldset ngModelGroup="login">
      <div class="input-group col-lg-10 col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
           <i nz-icon nzTheme="outline" nzType="book"></i>
          </span>
        </div>
        <input #usernameRef="ngModel"
               [(ngModel)]="username"
               class="form-control"
               minlength="3"
               name="username"
               required
               type="text"
        />
      </div>
      <div class="input-group col-lg-10 col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i nz-icon nzTheme="outline" nzType="lock"></i>
          </span>
        </div>
        <input #passwordRef="ngModel"
               [(ngModel)]="password"
               class="form-control"
               name="password"
               required
               type="password"
        />
      </div>
      <div style="text-align:center;">
        <button class="btn btn-danger " type="submit">登录</button>
      </div>

    </fieldset>
  </form>

  <div *nzModalFooter>
    <!--<button  class="btn btn-info" (click)="handleCancel()">关闭</button>-->
  </div>
</nz-modal>

