<input (click)="showModal()" class="nz" nz-input nzSize="default" placeholder="今天有什么新鲜事么"/>
<nz-modal (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisible" [nzTitle]="'想说什么'">
  <!--  <div *ngIf="erro" class="alert alert-danger">-->
  <!--    <div class="container">-->
  <!--      <div class="alert-icon">-->
  <!--        <i class="material-icons">error_outline</i>-->
  <!--      </div>-->
  <!--      <button (click)="erro=false" type="button" class="close" data-dismiss="alert" aria-label="Close">-->
  <!--        <span aria-hidden="true"><i class="material-icons">clear</i></span>-->
  <!--      </button>-->
  <!--      {{erro}}-->
  <!--    </div>-->
  <!--  </div>-->

  <p>
    <nz-avatar [nzSrc]="img" nzIcon="user"></nz-avatar>
    {{userName}}&nbsp;:
  </p>
  <textarea [(ngModel)]="inputValue" nz-input rows="4" wrap="hard"></textarea>
  <nz-divider></nz-divider>

  <div class="col-lg-5 col-sm-4">
    <div class="form-group has-default">
      <input [(ngModel)]="inputTag" class="form-control" placeholder="标签不能超过10个字符" type="text"/>
    </div>
  </div>
  <button (click)="addTag();" class="btn btn-success btn-round btn-sm" nzShape="round" type="button">添加标签</button>
  <nz-tag *ngFor="let tag of tags,let tagIndex = index" [nzColor]="tagColor.get(tagIndex)">{{tag.name}}</nz-tag>

  <div *nzModalFooter>
    <button (click)="addTweet()" nz-button nzType="primary"><i nz-icon nzTheme="outline" nzType="plus"></i>发推</button>
    <button (click)="handleCancel()" nz-button><i nz-icon nzTheme="outline" nzType="close"></i>关闭</button>
  </div>
</nz-modal>
