
<div nz-row nzType="flex" nzJustify="start" nzAlign="top">
      <div nz-col nzSpan="4">
        <button class="btn btn-info " [routerLink]="['./tweet']" routerLinkActive="active">推文</button>
        <br>
        <button class="btn btn-primary "  [routerLink]="['./blog']" routerLinkActive="active">文章</button>
        <br/>
        <button class="btn btn-success "  [routerLink]="['./tool']" routerLinkActive="active">工具</button>
      </div>
  <div  nz-col nzSpan="4">
    <router-outlet></router-outlet>
  </div>

</div>
