<div class="fa">
  <form (ngSubmit)="onSubmit()" [formGroup]="group" class="fa">
    <nz-form-item *ngIf="isAdd">
      <nz-form-label [nzSpan]="2" nzFor="name" nzRequired>标题</nz-form-label>
      <nz-form-control [nzSpan]="20" nzErrorTip="标题不能为空">
        <input formControlName="title" nz-input placeholder="Please input your title" type="text"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="description" nzRequire>描述</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input formControlName="description" nz-input placeholder="Please input description" type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="content" nzRequired>正文</nz-form-label>
      <nz-form-control [nzSpan]="20" nzErrorTip="正文不能为空">
        <ckeditor [config]="config" [editor]="editor" formControlName="content"></ckeditor>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="description">标签</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <div class="col-lg-5 col-sm-4">
          <div class="form-group has-default">
            <input class="form-control" formControlName="tagIn" placeholder="标签不能超过10个字符" type="text"/>
          </div>
        </div>
        <button (click)="addTag();" class="btn btn-success btn-round btn-sm" style="margin-right: 10px" type="button">
          添加标签
        </button>
        <nz-tag *ngFor="let tag of tags,let tagIndex = index" [nzColor]="tagColor.get(tagIndex)">{{tag.name}}</nz-tag>
      </nz-form-control>
    </nz-form-item>
    <div class="footer">
      <button nz-button nzShape="round" nzType="add-btn" type="primary"><i nz-icon nzTheme="outline"
                                                                           nzType="edit"></i><span>{{isAdd ? "发布" : "编辑"}}</span>
      </button>
      <button (click)="close(null)" nz-button nzShape="round" style="margin-left: 8px;" type="button"><i nz-icon
                                                                                                         nzTheme="outline"
                                                                                                         nzType="close"></i><span>关闭</span>
      </button>
    </div>
  </form>
</div>

