.ant-btn-tag-btn{
  background-color: #c27400;
  color: white;
  margin-right: 10px;
}
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: left;
  left: 0;
  background: #fff;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
}
.ant-btn-add-btn{
  background-color: #b8124a;
  color: white;
  margin-right: 10px;
}
