.card {
  width: 400px;
  height: 640px;
}

.change {
  margin-top: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.swap {
  width: 82px;
  margin-left: 10px;
  margin-right: 10px;
}

.tran-select {
  width: 100%;
}

.btn-div {
  height: 670px;
}
