<div class="flex">
  <div>
    <p>

      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        nzPlaceHolder="Select Time"
        (ngModelChange)="onChange($event)"
        (nzOnOk)="onChange($event)"
      ></nz-date-picker>
      <app-tweet-add (fresh)="tags.fresh()"></app-tweet-add>
    </p>

    <app-list [tag]="tag" [date]="date" *ngIf="refresh"
              (fresh)="onLoadNext();tags.fresh()" ></app-list>
  </div>
  <app-tags #tags [type]="0" (out)="onTag($event)"></app-tags>
</div>
