<div class="flex">
  <div>
    <p>
      <!--//TODO 不正常-->
      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        nzPlaceHolder="Select Time"
        (ngModelChange)="onChange($event)"
        (nzOnOk)="onChange($event)"
      ></nz-date-picker>
      <app-tweet-add></app-tweet-add>
    </p>



    <app-list [tag]="tag" [date]="date" *ngIf="refresh"
              (loadNext)="onLoadNext()" ></app-list>
  </div>
  <app-tags [type]="0" (out)="onTag($event)"></app-tags>
</div>
