<div class="flex">
  <div>
    <p>
      <app-date></app-date>
      <button (click)="showBlogEditor()" *ngIf="isPi" class="btn btn-rose btn-round btn-sm"><i nz-icon
                                                                                               nzTheme="outline"
                                                                                               nzType="highlight"></i>写文章
      </button>
    </p>
    <app-blog-list></app-blog-list>
  </div>

  <app-tags [type]="1"></app-tags>
  <app-blog-detail></app-blog-detail>
</div>
