<div>
  <cdk-virtual-scroll-viewport class="demo-infinite-container" itemSize="73">
    <nz-list>
      <nz-list-item *cdkVirtualFor="let item of ds">
        <nz-skeleton *ngIf="!item" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
        <nz-list-item-meta
          *ngIf="item"
          [nzAvatar]="item.userId==0?img0:img1"
          [nzDescription]="nzDes"
          [nzTitle]="nzTitle"
        >
          <ng-template #nzTitle>
            {{item.userId == 0 ? '痞老板' : '水友'}}
          </ng-template>
          <ng-template #nzDes>
            <span [innerHTML]="item.text"></span><br>
            <button (click)="addPower(item.tweetId,item.power+1);item.power=item.power+1"
                    class="btn btn-info btn-round">
              <i class="material-icons">favorite</i>  {{item.power}}
            </button>
            <app-detail [createTime]="item.createTime"
                        [text]="item.text"
                        [tweetId]="item.tweetId"
                        [userId]="item.userId"
            ></app-detail>
            <button (click)="delete(item.tweetId)" *ngIf="dele" class="btn btn-rose btn-round btn-sm">删除</button>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </cdk-virtual-scroll-viewport>
</div>
